<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background Images</key>
	<array>
		<string>bg_pattern.jpg</string>
		<string>note.jpg</string>
	</array>
	<key>Folder Name</key>
	<string>Sticky.mailstationery</string>
	<key>HTML File</key>
	<string>content.html</string>
	<key>Stationery ID</key>
	<string>0B5A3E51-2BCD-479B-A194-58600FA3B7AE</string>
	<key>Thumbnail Image</key>
	<string>thumbnail.png</string>
</dict>
</plist>
