<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.IOBluetoothHIDDriver</string>
		<key>Classes</key>
		<dict>
			<key>IOBluetoothHIDDriver</key>
			<dict>
				<key>Actions</key>
				<dict>
					<key>ConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>DisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>KeyboardOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MouseConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouse.pdf</string>
						<key>MessageKey</key>
						<string>MouseConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MouseDisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtMouse.pdf</string>
						<key>MessageKey</key>
						<string>MouseDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
				</dict>
				<key>Messages</key>
				<dict>
					<key>Connected</key>
					<dict>
						<key>Action</key>
						<string>ConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>Disconnected</key>
					<dict>
						<key>Action</key>
						<string>DisconnectOSD</string>
						<key>DelayCondition</key>
						<string>KeyboardInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>KeyboardOff</key>
					<dict>
						<key>Action</key>
						<string>KeyboardOffOSD</string>
					</dict>
					<key>MouseConnected</key>
					<dict>
						<key>Action</key>
						<string>MouseConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>MouseDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MouseDisconnected</key>
					<dict>
						<key>Action</key>
						<string>MouseDisconnectOSD</string>
						<key>DelayCondition</key>
						<string>MouseInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>14C103</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>4.3.2, Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.IOBluetoothHIDDriverGeneric</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOBluetoothHIDDriverGeneric</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3.2</string>
	<key>CFBundleSignature</key>
	<string>bthd</string>
	<key>CFBundleVersion</key>
	<string>4.3.2f6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D97u</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14C75a</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D97u</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
</dict>
</plist>
