<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
		<key>Classes</key>
		<dict>
			<key>AppleDeviceManagementHIDEventService</key>
			<dict>
				<key>Actions</key>
				<dict>
					<key>USBConnectedKBOSD</key>
					<dict>
						<key>DelayMS</key>
						<integer>4000</integer>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBConnectedTPOSD</key>
					<dict>
						<key>DelayMS</key>
						<integer>4000</integer>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBKBOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBTPOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
				</dict>
				<key>Messages</key>
				<dict>
					<key>USBConnectedKB</key>
					<dict>
						<key>Action</key>
						<string>USBConnectedKBOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>USBConnectedTP</key>
					<dict>
						<key>Action</key>
						<string>USBConnectedTPOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>USBKBOff</key>
					<dict>
						<key>Action</key>
						<string>USBKBOffOSD</string>
					</dict>
					<key>USBTPOff</key>
					<dict>
						<key>Action</key>
						<string>USBTPOffOSD</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>14C93</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.BezelServices.AppleTopCaseHIDEventDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleTopCaseHIDEventDriver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>63.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>63.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D97u</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14C75a</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D97u</string>
</dict>
</plist>
