<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.AppleBluetoothHIDMouse</string>
		<key>Classes</key>
		<dict>
			<key>AppleBluetoothHIDMouse</key>
			<dict>
				<key>Actions</key>
				<dict>
					<key>MouseConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouse.pdf</string>
						<key>MessageKey</key>
						<string>MouseConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MouseCriticallyLowBatteryNC</key>
					<dict>
						<key>NCHelpButtonText</key>
						<string>HelpButtonText</string>
						<key>NCImageURL</key>
						<string>Mouse.icns</string>
						<key>NCInformativeText</key>
						<string>MouseDangerouslyLowText</string>
						<key>NCPrefPaneDeviceEra</key>
						<string>2007Mouse</string>
						<key>NCPrefPaneDeviceType</key>
						<string>Mouse</string>
						<key>NCTitle</key>
						<string>MouseDangerouslyLowHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>MouseDisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtMouse.pdf</string>
						<key>MessageKey</key>
						<string>MouseDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MouseLowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Mouse.icns</string>
						<key>NCInformativeText</key>
						<string>MouseLowBatteryText</string>
						<key>NCTitle</key>
						<string>MouseLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
				</dict>
				<key>Messages</key>
				<dict>
					<key>MouseConnected</key>
					<dict>
						<key>Action</key>
						<string>MouseConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>MouseDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MouseCriticallyLowBattery</key>
					<dict>
						<key>Action</key>
						<string>MouseCriticallyLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>MouseDisconnected</key>
					<dict>
						<key>Action</key>
						<string>MouseDisconnectOSD</string>
						<key>DelayCondition</key>
						<string>MouseInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MouseLowBattery</key>
					<dict>
						<key>Action</key>
						<string>MouseLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
				</dict>
				<key>PreferenceDefaults</key>
				<dict>
					<key>Button1</key>
					<integer>1</integer>
					<key>Button2</key>
					<integer>1</integer>
					<key>Button3</key>
					<integer>0</integer>
					<key>Button4</key>
					<integer>0</integer>
					<key>Button4Click</key>
					<integer>0</integer>
					<key>Button4Force</key>
					<integer>0</integer>
					<key>ButtonDominance</key>
					<integer>1</integer>
					<key>ScrollH</key>
					<integer>1</integer>
					<key>ScrollS</key>
					<integer>4</integer>
					<key>ScrollSSize</key>
					<integer>30</integer>
					<key>ScrollV</key>
					<integer>1</integer>
				</dict>
				<key>PreferenceHost</key>
				<string>Any</string>
				<key>PreferenceIdentifier</key>
				<string>com.apple.driver.AppleHIDMouse</string>
				<key>PreferenceUser</key>
				<string>Current</string>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>14C103</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleBluetoothHIDMouse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBluetoothHIDMouse</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>185.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>185.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D97u</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14C75a</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D97u</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Apple Inc. All rights reserved.</string>
</dict>
</plist>
